# compiled output
dist/*
!dist/.keep
!dist/additional_examples
!dist/models
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
.env
.DS_Store
.idea
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.answer.*
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

dist/models/pokemon/charizar.mtl
dist/models/pokemon/charizar.obj
dist/models/pokemon/textures/ala.png
dist/models/pokemon/textures/cabeza.png
dist/models/pokemon/textures/cola.png
dist/models/pokemon/textures/diente.png
dist/models/pokemon/textures/fullna.png
dist/models/pokemon/textures/lengua.png
dist/models/pokemon/textures/llama.png
dist/models/pokemon/textures/pecho.png
dist/models/pokemon/textures/pie.png
